// Variables

$turquoise: #00CED1;
$white: #FFFFFF;

*{
  margin:0px;
  padding:0px;
}
body{
  background-color:$turquoise;
}

#nav{
  margin-bottom:67px;
  ul{
    position:fixed;
    overflow: hidden;
    text-align: center;
    width:100%;
    top:0;
    background-color:$turquoise;
    li{
      display:inline-block;
      padding:20px;
      margin:20px;
      width:15%;
      a{
        text-decoration: none;
        color:white;
      }
    }
  }
}
#nav li{
  &:hover{
    box-shadow: 0px 0px 10px 2px white;
  }
}

#nav li{
  &:active{
    background: red;
  }
}

.active{
  background-color: green;
}



.content{
  height:500px;
  width:100%;
  padding-top:70px;

}

#me{
  background-color: red;
}
#projects{
  background-color: blue;
}
#contact{
  background-color: yellow
}
#resume{
  background-color:purple;
}
